body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5; /* Fondo rosado suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #ff69b4; /* Rosa vibrante */
    font-size: 24px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #ff85a2; /* Rosa cálido */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff5c87; /* Rosa más oscuro al pasar el ratón */
}

#descripcion {
    margin-top: 20px;
}

#mensaje {
    margin-top: 20px;
    color: #28a745; /* Verde para éxito */
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ff85a2;
    border-radius: 5px;
    width: 80%;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff85a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff5c87;
}